{% extends "layout/template.html" %}

{% load static %}

{% block header %}
    <header class="masthead" style="background-image: url('{%static 'img/experience.jpg'%}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>My Experiences</h1>
              <span class="subheading">This is what I have done.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
		<h3>Work</h3>
		<ul>
			<li>Event Organizer at 'Gen 7 Management'</li>
			<li>IT Mentor at OTC (OSN Training Center)</li>
		</ul>
		<h3>Organizations</h3>
		<ul>
			<li>PIC of Training at UKM Wushu UI (2018)</li>
			<li>Coordinator of IT Division at OSIS SMAN 1 Pamekasan (2015-2016)</li>
			<li>Member of IT Division at OSIS SMAN 1 Pamekasan (2014-2015)</li>
		</ul>
		<h3>Events</h3>
		<ul>
			<li>International Relation at Wushu Asian Games 2018</li>
			<li>Liaison Officer at Meeting & Congress of Wushu Federation of Asia 2018</li>
			<li>Staff at National Wushu Traditional Workshop 2018</li>
			<li>Staff at International Samuel Kwok Wing Chun Seminar 2018</li>
			<li>Staff at Wugames 2017</li>
			<li>Staff at 1st Indonesia Traditional Wushu Championship 2017</li>
		</ul>
{% endblock content %}