<!DOCTYPE html>
<html lang="en">
{%load static%}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home - Akhmad Ramadhan Yamin</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/coming-soon.min.css'%}" rel="stylesheet">

  </head>

  <body background="{%static 'img/me.jpg'%}" background-style='height: 100%; width: 100%'>

    <div class="overlay"></div>
	
    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Akhmad</h1>
			  <h1 class="mb-3">Ramadhan</h1>
			  <h1 class="mb-3">Yamin</h1>
              <h3 class="mb-3"> <a href="profile" style="color: white"> Profile </a> </h3>
			  <h3 class="mb-3"> <a href="education" style="color: white"> Educations </a> </h3>
			  <h3 class="mb-3"> <a href="experience" style="color: white"> Experiences </a> </h3>
			  <h3 class="mb-3"> <a href="contact" style="color: white"> Contact Me </a> </h3>
			  <p class="mb-5">"I never dreamed about success. I worked for it." – Estee Lauder</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="https://gitlab.com/ctampan" target="_blank">
            <i class="fab fa-gitlab"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="https://www.facebook.com/narvaneon" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="https://www.instagram.com/jack.armin" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Custom scripts for this template -->
    <script src="{%static 'js/coming-soon.min.js'%}"></script>

  </body>

</html>
